<h1>Cargar archivo Excel</h1>
<form action="/upload-excel" method="POST" enctype="multipart/form-data">
  <input type="file" name="archivo" accept=".xls,.xlsx" required>
  <button type="submit">Subir</button>
</form>
